<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653152036271-stoura4bv50pmkp00mhbo8fseaak0ldm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653152036271-stoura4bv50pmkp00mhbo8fseaak0ldm</string>
	<key>API_KEY</key>
	<string>AIzaSyD1yjcxLAjDps664eK1U9ILcY6IaXv4IUw</string>
	<key>GCM_SENDER_ID</key>
	<string>653152036271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebuild-tokyo.app</string>
	<key>PROJECT_ID</key>
	<string>rebuild-tokyo-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>rebuild-tokyo-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653152036271:ios:4845068974dc23a4c77b5a</string>
</dict>
</plist>