<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382237920937-30h105ig1a5ebj8ul0pik1q4ini0hor7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382237920937-30h105ig1a5ebj8ul0pik1q4ini0hor7</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-GWERWjm0HVCF49nW9O_tYfZ8MapBXo</string>
	<key>GCM_SENDER_ID</key>
	<string>382237920937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebuild-tokyo.app</string>
	<key>PROJECT_ID</key>
	<string>re-build-tokyo-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>re-build-tokyo-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382237920937:ios:27b75a7ef85649786263b8</string>
</dict>
</plist>